/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

/* NAVBAR */
nav {
    background-color: #111;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #ff9500;
    font-size: 22px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #ff9500;
}

/* HERO */
.hero {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
                url('https://images.unsplash.com/photo-1503387762-592deb58ef4e');
    background-size: cover;
    background-position: center;
    height: 90vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
}

.btn {
    background-color: #ff9500;
    color: black;
    padding: 14px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #ffaa33;
}

/* SECTIONS */
.section {
    padding: 80px 60px;
    text-align: center;
}

.section h2 {
    margin-bottom: 40px;
    color: #111;
}

/* SERVICES GRID */
.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    padding: 30px;
    width: 30%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card h3 {
    margin-bottom: 15px;
    color: #ff9500;
}

/* FOOTER */
footer {
    background-color: #111;
    color: white;
    padding: 40px 60px;
    text-align: center;
}
