/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Navigation Bar */
nav {
    background-color: #1c1c1c;
    padding: 15px;
    text-align: center;
}

nav a {
    color: orange;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    color: yellow;
}

/* Hero Section */
.hero {
    background: linear-gradient(to right, #ff8c00, #222);
    color: white;
    padding: 80px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 45px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 20px;
}

/* Button */
.btn {
    background-color: yellow;
    color: black;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn:hover {
    background-color: orange;
}

/* Section */
.section {
    padding: 60px 20px;
    text-align: center;
}

.section h2 {
    color: #ff8c00;
    margin-bottom: 20px;
}

/* Footer */
footer {
    background-color: #1c1c1c;
    color: white;
    text-align: center;
    padding: 20px;
}
